<header class="home-header container">
	<div class="row header-content-container">
		<div class="tweleve columns">
			<div class="header-content">
				<div class="header-content-details">
					<h2>Hire the right Coding Ninjas efficiently.<span class="lg-asterik">*</span></h2>
					<p><span class="sm-asterik">*</span>HireNinja offers pre-screened Coding Ninjas, so your project gets the best talent in the shortest time, yielding highest code quality.</p>
					<a ui-sref="app.public.startAProject"><button class="button-primary">HIRE A NINJA</button></a>
					<a href="https://app.hireninja.com/auth/register"><button class="button-primary">BECOME A NINJA</button></a>
				</div>
			</div>
		</div>
	</div>
</header>

<main>
	<div class="home-container container">
		<div class="row how-hireninja-works-container">
			<div class="content-container">
				<div class="twelve columns">
					<div>
						<h5>HOW IT WORKS</h5>
						<p>We help you accomplish your project goals effectively and efficiently</p>
						<div class="end-note"></div>
					</div>
					<div class="wblocks-container">
						<div class="flipper-container">
							<div class="wblock">
								<div class="front">
									<div class="wblock-img">
										<img src="/imgs/how-hireninja-works-1.svg">
									</div>
									<div class="wblock-txt">
										<h6>Sign-up with us</h6>
										<div class="end-note" style="background-color:#fff;"></div>
									</div>
								</div>
								<div class="back">
									<div class="back-content">
										<p>Fill out a basic form and our resource will get back to you instantly. Our Humanized communication style ensures every detail gets captured.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="flipper-container">
							<div class="wblock">
								<div class="front">
									<div class="wblock-img">
										<img src="/imgs/how-hireninja-works-2.svg">
									</div>
									<div class="wblock-txt">
										<h6>Give your Project Brief</h6>
										<div class="end-note" style="background-color:#fff;"></div>
									</div>
								</div>
								<div class="back">
									<div class="back-content">
										<p>The assigned project manager will assist you throughout your journey with us to capture relevant project details and requirements.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="flipper-container">
							<div class="wblock">
								<div class="front">
									<div class="wblock-img">
										<img src="/imgs/how-hireninja-works-3.svg">
									</div>
									<div class="wblock-txt">
										<h6>Get the Ninja you need</h6>
										<div class="end-note" style="background-color:#fff;"></div>
									</div>
								</div>
								<div class="back">
									<div class="back-content">
										<p>Tell us your requirements for the Coding Ninja your project requires. Based on your requirements we will find the perfect Ninja for your project.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="flipper-container">
							<div class="wblock">
								<div class="front">
									<div class="wblock-img">
										<img src="/imgs/how-hireninja-works-4.svg">
									</div>
									<div class="wblock-txt">
										<h6>Get work done within Budget</h6>
										<div class="end-note" style="background-color:#fff;"></div>
									</div>
								</div>
								<dir class="back">
									<div class="back-content">
										<p>Tell us your budget and we will work around it with you to get your project done through our Coding Ninjas. Put an end to your money-woes with us.</p>
									</div>
								</dir>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row meet-ninjas-container">
			<div class="content-container">
				<div class="twelve columns">
					<h5>MEET OUR NINJAS</h5>
					<p>Get to know the best talent from around the world</p>
					<div class="end-note" style="background-color: #4c5165"></div>
					<div class="nblocks-container">
						<div class="nblock">
							<img src="/imgs/NInja-Asif.png">
							<div class="designation">
								<p>Mohammad Asif</p>
								<p>PROBIST</p>
							</div>
						</div>		
						<div class="nblock">
							<img src="/imgs/Ninja-Altamash.PNG">
							<div class="designation">
								<p>Altamash Janjua</p>
								<p>STANFORD</p>
							</div>
						</div>
						<div class="nblock">
							<img src="/imgs/Ninja-Tahir.PNG">
							<div class="designation">
								<p>Tahir Azim</p>
								<p>TRIPPLET LABS</p>
							</div>
						</div>
						<div class="nblock">
							<img src="/imgs/Ninja-Faisal.png">
							<div class="designation">
								<p>Faisal Khan</p>
								<p>LIKASTIC</p>
							</div>
						</div>
					</div>
					<p>If you think you are a great developer and have the potential to become one of us. Apply now</p>
					<a href="https://app.hireninja.com/auth/register"><button class="button-primary">BECOME A NINJA</button></a>
				</div>
			</div>
		</div>
		<div class="row success-stories-container">
			<div class="content-container">
				<div class="twelve columns">
					<div>
						<h5>SUCCESS STORIES</h5>
						<p>Here's some of the brilliant work done by our Coding Ninjas.</p>
						<div class="end-note"></div>
					</div>
					<div carousel-lightbox class="clients-success-stories">
						<div class="success-stories-reel-container">
							<div>
								<div class="success-story-txt">
									<h5>How We Helped Tecademics</h5>
									<p>Through their distance learning program, Tecademics aims to  disrupt education for Entrepreneurs and Marketers in the fields of Digital marketing, Entrepreneurship, and Financial literacy.</p>
									<span class="meta-text read-more-text"><a ui-sref="app.public.solution.caseStudies.tecademics">Read More >></a></span>
								</div>
								<div class="success-story-logo tecademics">
									<img src="/imgs/tk.png">
								</div>
							</div>
						</div>
						<div class="success-stories-reel-container">
							<div>
								<div class="success-story-txt">
									<h5>How We Helped Hyundai</h5>
									<p>Hyundai has always been a long-standing partner of UEFA. To express the company’s passion for football in the Euro 2012, Hyundai hosted a Facebook application based video contest.</p>
									<span class="meta-text read-more-text"><a ui-sref="app.public.solution.caseStudies.hyundai">Read More >></a></span>
								</div>
								<div class="success-story-logo hyundai">
									<img src="/imgs/hy.png">
								</div>
							</div>
						</div>
						<div class="success-stories-reel-container">
							<div>
								<div class="success-story-txt">
									<h5>How We Helped Probist</h5>
									<p>Probist helps users easily create and host their own branded website with all videos synced from Youtube channels.</p>
									<span class="meta-text read-more-text"><a ui-sref="app.public.solution.caseStudies.probist">Read More >></a></span>
								</div>
								<div class="success-story-logo probist">
									<img src="/imgs/probist.png">
								</div>
							</div>
						</div>
						<div class="success-stories-reel-container">
							<div>
								<div class="success-story-txt">
									<h5>How We Helped Support Sync</h5>
									<p>Support Sync is a return management application that helps different companies to synchronize customers, support agents, and return center personnel in real-time.</p>
									<span class="meta-text read-more-text"><a ui-sref="app.public.solution.caseStudies.supportsync">Read More >></a></span>
								</div>
								<div class="success-story-logo supportsync">
									<img src="/imgs/supportsync.png">
								</div>
							</div>
						</div>
						<div class="success-stories-reel-container">
							<div>
								<div class="success-story-txt">
									<h5>How We Helped Anhance</h5>
									<p>Anhance is an e-commerce platform for your digital content. It allows users to create an online store to manage and sell their online courses, downloads, webinars and podcasts.</p>
									<span class="meta-text read-more-text"><a ui-sref="app.public.solution.caseStudies.anhance">Read More >></a></span>
								</div>
								<div class="success-story-logo anhance">
									<img src="/imgs/anhance.png">
								</div>
							</div>
						</div>
					</div>
					<div class="meta-text read-more-text-success-stories">
						<div>
							<a ui-sref="app.public.solution.clients">View More Success Stories >></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>