<nav class="hamburger-menu">
  <button ng-click="onClick();"></button>
  <div>
	<a ui-sref="app.public.solution.howItWorks" ng-click="onClick();">How It Works</a>
	<a ui-sref="app.public.solution.ourNinjas" ng-click="onClick();">Our Ninjas</a>
	<a ui-sref="app.public.solution.clients" ng-click="onClick();">Clients</a>
	<a ui-sref="app.public.startAProject" ng-click="onClick();">Start a Project</a>
	<a ui-sref="app.public.about.company" ng-click="onClick();">Company</a>
	<a ui-sref="app.public.about.whyUs" ng-click="onClick();">Why Us</a>
  </div>
</nav>