<main>
	<div class="submitProject-container container">
		<div class="row submit-project-success-container">
			<div class="content-container">
				<div class="twelve columns">
					<div>
						<h5>Project Submitted Successfully</h5>
						<p>Thank you for submitting your project at HireNinja. Our team will get back to you soon.</p>
						<div class="end-note"></div>
						<div class="post-project-section">
							<a ui-sref="app.public.home"><button class="button-primary">PROCEED TO HOME PAGE</button></a>
							<a ui-sref="app.public.startAProject"><button class="button-primary">SUBMIT ANOTHER PROJECT</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>